@inject IOptions<AppSettings> SettingsAccessor
@inject IWebHostEnvironment WebEnvironment
@{
    Layout = null;
    var settings = SettingsAccessor.Value;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @RenderSection("head", required: false)

    <link src="@(Context.Request.AbsoluteUrl("/lib/templates/email/style.css"))" />

    <!-- endbuild -->
    <!--[if mso]>
    <style>
      table { border-collapse: collapse; }
      .o_col { float: left; }
    </style>
    <xml>
      <o:OfficeDocumentSettings>
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
</head>
<body class="o_body o_bg-light">
        @RenderSection("body", required: false)

        <!-- header-white -->
<table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
    <tbody>
        <tr>
            <td class="o_bg-light o_px-xs o_pt-lg o_xs-pt-xs" align="center">
                <!--[if mso]><table width="800" cellspacing="0" cellpadding="0" border="0" role="presentation"><tbody><tr><td><![endif]-->
                <table class="o_block-lg" width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                    <tbody>
                        <tr>
                            <td class="o_bg-white o_px o_py-md o_br-t o_sans o_text" align="center">
                                <p><a class="o_text-primary" href="https://example.com/"><img src="@(Context.Request.AbsoluteUrl("/img/app-wordmark.png"))" width="136" height="36" alt="@(settings.Company.Name)" style="max-width: 136px;"></a></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--[if mso]></td></tr></table><![endif]-->
            </td>
        </tr>
    </tbody>
</table>
    @RenderBody()

    <!-- footer-white -->
    <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
        <tbody>
            <tr>
                <td class="o_bg-light o_px-xs o_pb-lg o_xs-pb-xs" align="center">
                    <!--[if mso]><table width="800" cellspacing="0" cellpadding="0" border="0" role="presentation"><tbody><tr><td><![endif]-->
                    <table class="o_block-lg" width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                        <tbody>
                            <tr>
                                <td class="o_bg-light o_px-md o_bt-light o_br-b" align="center">
                                    <div style="font-size: 32px; line-height: 32px; height: 32px;">&nbsp; </div>
                                    <!--[if mso]><table width="584" cellspacing="0" cellpadding="0" border="0" role="presentation"><tbody><tr><td align="center"><![endif]-->
                                    <div class="o_col-6s o_sans o_text-xs o_text-light">
                                        <p class="o_mb">© @(settings.Company.Established.Year) - @(DateTimeOffset.UtcNow.Year) @(settings.Company.Name)
                                            <br /></>@(settings.Company.Address)
                                            <br /><a href="mailto:@(settings.Company.Email)">@(settings.Company.Email)</a> | <a href="tel:@(settings.Company.PhoneNumber)">@(settings.Company.PhoneNumber)</a></p>
                                    </div>
                                    <!--[if mso]></td></tr></table><![endif]-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--[if mso]></td></tr></table><![endif]-->
                    <div class="o_hide-xs" style="font-size: 64px; line-height: 64px; height: 64px;">&nbsp; </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
